<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemmy - Smart lemmatization tool for SEO needs.</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="bg-body h-full min-h-screen">
  <div class="container mx-auto py-14 px-8">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-5">
        <form method="post">
          <textarea name="text" rows="16" id="text"
            class="border border-gray outline-none w-full leading-8 mb-4 px-5 pt-4" placeholder="Input here...">{{text ? text: ''}}</textarea>
          </br>
          <input type="Submit" value="Lemmy Go"
            class="py-3 px-5 bg-secondary text-white rounded secondary font-semibold cursor-pointer hover:bg-opacity-95">
        </form>
      </div>
      <div class="col-span-12 mt-4 lg:mt-0 lg:col-start-7 lg:col-span-6">
        <table class="bg-white border border-gray">
          <thead>
            <tr class="border-b border-gray">
              <th class="border-r border-gray py-2 px-5 w-full text-left font-medium">Bigram</th>
              <th class="py-2 px-5 text-left font-medium">Frequency</th>
            </tr>
          </thead>
          <tbody>
            @if(items)
            @each((item, index) in items)
            <tr>
              <td class="py-2 px-5 border-r border-gray {{index % 2 ? 'bg-body': ''}}"
              @if(item.value * 100 / count > 30)
                style="color: red;"
              @end
              title="{{item.value}} * 100 / {{count}}"
              >{{ item.key }}</td>
              <td class="py-2 px-5 {{index % 2 ? 'bg-body': ''}}">{{item.value}}</td>
              {{--  <td class="py-2 px-5 {{index % 2 ? 'bg-body': ''}}">{{item.value * 100 / count}}</td>  --}}
            </tr>
            @end
            @else
            @each((item, index) in [5,3,4,3,5,3,4,3])
            <tr>
              <td class="py-2 px-5 border-r border-gray {{index % 2 ? 'bg-body': ''}}">
                <div class="flex">
                  <div class="w-12 lg:w-{{item * 4 * 3}} h-4 bg-gray mr-4"></div>
                  <div class="w-{{item * 4 * 2/4}} lg:w-{{item * 4 * 2}} h-4 bg-gray"></div>
                </div>
              </td>
              <td class="py-2 px-5 {{index % 2 ? 'bg-body': ''}}">
                <div class="w-8 h-4 bg-gray"></div>
              </td>
            </tr>
            @end
            @end
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
