<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemmy - Smart lemmatization tool for SEO needs.</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="bg-body h-full min-h-screen">
  <div class="container mx-auto py-14 px-8">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-5">
        <form method="post" enctype="multipart/form-data">
          <ul class="flex items-center">
            <span class="mr-2">N-gram</span>
            <li class="mr-2"><input type="radio" name="ngram" value="2" checked>2</li>
            <li class="mr-2"><input type="radio" name="ngram" value="3">3</li>
            <li><input type="radio" name="ngram" value="4">4</li>
          </ul>
          <textarea name="text" rows="13" id="text"
            class="border border-gray outline-none w-full leading-8 mb-4 px-5 pt-4"
            placeholder="Input here...">{{text ? text: ''}}</textarea>
          </br>
          OR
          <div>
            <input type="file" name="sheet" id="sheet_upload">
          </div>
          </br>
          <input type="Submit" value="Lemmy Go"
            class="py-3 px-5 bg-secondary text-white rounded secondary font-semibold cursor-pointer hover:bg-opacity-95">
        </form>
      </div>
      <div class="col-span-12 mt-4 lg:mt-0 lg:col-start-7 lg:col-span-6">
        <table class="bg-white border border-gray w-full mb-4 ">
          <thead>
            <tr class="border-b border-gray">
              <th class="border-r border-gray py-2 w-10/12 px-5 text-left font-medium">Ngram</th>
              <th class="py-2 px-5 text-left w-2/12font-medium">Frequency</th>
            </tr>
          </thead>
          <tbody>
            @if(items)
            @each((item, index) in items)
            <tr>
              <td class="py-2 px-5 border-r border-gray {{index % 2 ? 'bg-body': ''}}">{{ item.ngram }}</td>
              <td class="py-2 px-5 {{index % 2 ? 'bg-body': ''}}">{{ item.value }}</td>
            </tr>
            @end
            @else
            @each((item, index) in [5,3,4,3])
            <tr>
              <td class="py-2 px-5 border-r border-gray {{index % 2 ? 'bg-body': ''}}">
                <div class="flex">
                  <div class="w-12 lg:w-{{item * 4 * 3}} h-4 bg-gray mr-4"></div>
                  <div class="w-12 lg:w-{{item * 4 * 2}} h-4 bg-gray"></div>
                </div>
              </td>
              <td class="py-2 px-5 {{index % 2 ? 'bg-body': ''}}">
                <div class="w-8 h-4 bg-gray"></div>
              </td>
            </tr>
            @end
            @end
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="lg:w-60 lg:w-36 lg:w-48 lg:w-32 lg:w-24 lg:w-40"></div>
</body>

</html>
