<footer class="bg-gray text-center text-sm py-1 mt-auto">
  Developed by <a class="underline text-secondary" href="https://www.linkedin.com/in/yehor-kaliuzhnyi-936b6116a/">Yehor Kaliuzhniy</a>
</footer>
</body>

</html>
