@tailwind base;
/* @tailwind components; */
@tailwind utilities;


textarea::-webkit-scrollbar {
  width: 8px;
}
/*
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

textarea::-webkit-scrollbar-thumb {
  @apply bg-gray rounded;

}

body {
  font-family: SFProDisplay;
}

.bar {
  fill: #aaa;
  cursor: pointer;
}

.bar:hover,
.bar:focus {
  fill: red;
}

figcaption {
  font-size: 8px;
  height: 10px;
  text-align: right;
  font-weight: bold;
  color: #000;
}




@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
